<!--@subject Email - Call Us @-->
                        <h4>¿Preguntas acerca de sus pedidos?</h4>
                        <p>
                            {{depend store_phone}}
                            <b>Llámenos:</b>
                            <a href="tel:{{var store_phone}}">{{var store_phone}}</a><br>
                            {{/depend}}
                            {{depend store_hours}}
                            a las <span class="no-link">{{var store_hours}}</span> horas<br>
                            {{/depend}}
                            {{depend store_email}}
                            <b>Email:</b> <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{/depend}}
                        </p>
